*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





@media (max-width: 740px){

    .heaader{
        align-items: center;
        justify-content: space-between;
        display: flex;
        position: relative;
        margin: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo_top{
        margin-left: 10px;
    }

    .hamburger{
        margin-right: 10px;
    }
    
    .intro_mobile{
        justify-content:center;
        padding: none;
    }
    .intro_mobile img{
        justify-content: center;
        align-content: center;
        width: 480px;
    }

    .section_one{
        background-color:  hsl(256, 26%, 20%);
        position: absolute;
    }
    
    .patter_one{
        display: flex;
        position: absolute;
    }

    .patter_one img{
        width: 210px;
        justify-content: left;
    }

    .section_one h1{
        color: white;
        font-family: serif;
        font-size: 58px;
        margin-top:100px;
        font-weight: 400px;
        text-align: center;
    }

    .section_one p{
        color: white;
        font-size: 18px;
        font-family: arial;
        font-weight: 400px;
        margin-top: 20px;
        text-align: center;
    }


    .section_one button{
        width: 150px;
        height: 40px;
        color: white;
        background-color:  hsl(256, 26%, 20%);
        border-color: white;
        margin-bottom: 50px;
        margin-top: 40px;
        margin-left: 160px;
    }

    .patter_right{
        display: flex;
        position: absolute;
    }

    .patter_right img{
        width: 100px;
        justify-content: right;
    }



    .active{

    }
}